*{
    margin: 0; padding:0; box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

}

.site-headers {
    width: 100%;
    height: 100vh;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
    /* background: #0f8a9d; */
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);

}
nav{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
}
.logo{
    width: 50%;
    height: 100px;
}
.logo h1{
    line-height: 100px;
    padding-left: 25px;
}
.menu{
    width: 50%;
    height: 100px;
}
.menu ul{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menu ul li{
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.menu ul li:hover{
    color: bisque;
    cursor: pointer;
}
section{
    display: flex;
}
.leftside{
    width: 45%;
    height: auto;
    overflow: hidden;
    margin-top: 25px;
}
.leftside img{
    width: 800px;
    height: 400px;

}
.rightside{
    width: 55%;
    height: 300px;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 40px;
}
.rightside h1{
    font-size: 50px;
    font-weight: 560;
    text-transform: uppercase;
}
.rightside p{
    font-size: 1.1rem;
    padding: 30px 0;
}
.rightside button{
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    background-color: black;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 );
    border-radius: 5px;
}
.rightside button:hover{
    background: linear-gradient(57deg, #1E4D92,#00C6A7  );
}